name: Enforce tst to main

on: 
  pull_request:
    branches: [main]

jobs: 
  check-source: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check source branch
      run: |
        if [[ "${{ github.head_ref }}" != "tst" ]]; then
          echo "Pull request must be from tst branch."
          exit 1
        fi